<script total>

	exports.id = 'typerefinery_api_createsvg_webcolaviz';
	exports.name = 'API WebCola Viz';
	exports.icon = 'fa fa-code';
	exports.group = '@TypeRefinery';
	exports.author = 'TypeRefinery.io';
	exports.version = '2';

	exports.config = { title: exports.name, version: exports.version, endpointcreatesvg: "http://127.0.0.1:8000/createSvg", endpointproject: 'http://127.0.0.1:8000/datastore/project', dependenciesjs: 'https://d3js.org/d3.v4.js https://cdn.jsdelivr.net/npm/webcola@3.4.0/WebCola/cola.js', code: '' };
	exports.inputs = [{ id: 'graph_data', name: 'DATA' },{ id: 'theme', name: 'Theme' }];
	exports.outputs = [{ id: 'output', name: 'Output' }];
	exports.meta = { settingswidth: 1200 };
	exports.make = function(instance, config) {
		var fn;
		var values = {};

		instance.message = function($) {

			// Inputs to this block will be saved in values Object
			values[$.input] = $.data

			if (values.graph_data && values.theme) {
				var project;
				var input_data = {
					theme: values.theme,
					graph_data: values.graph_data
				};

				// Replacing GRAPH_DATA variable with actual DATA
				const codeWithData = config.code.replace('GRAPH_DATA', JSON.stringify(input_data.graph_data))
				// Replacing THEME variable with actual THEME
				const code = codeWithData.replace('THEME', JSON.stringify(input_data.theme))

				const payload = {
					"code": code,
					"dependencies": dependenciesjs.split(' '),
					"returnoutput": "script"
				};

				let options = {
					method: 'POST',
					headers: {
					'Content-Type':
						'application/json;charset=utf-8'
					},
					body: JSON.stringify(payload)
				}

				// Sending request to generate SVG
				Promise.all([
						fetch(config.endpointproject).then(value => value.json()),
						fetch(config.endpointcreatesvg, options).then(value => value.json()),
				]).then(([projects, output]) => {
					// Getting current project
					project = projects.find(el => el.flowid == instance.main.id)
					// response output
					const res = {
						path: output["output.url"],
						stepId: instance.id,
						stepName: instance.module.name,
						flowId: instance.main.id,
						projectId: project.projectid
					}
					// Sending the response
					$.send('output', res)
				}).catch((err) => {
					// Sending the error
					$.send('output', err)
				});

				values.theme = null
			}
		};

		instance.close = function() {
			fn = null;
		};

		instance.configure = function() {
			if (config.title === "") {
				config.title = exports.name;
			}
			config.version = exports.version;
		};

		instance.configure();

	};
</script>
<readme>
	Run WebCola Viz to your flow.
</readme>
<settings>
	<div class="padding">
		<div data---="input__?.title__text"><b>Title</b></div>
		<div data---="input__?.endpointproject__required:1" class="m">Endpont Projects</div>
		<div data---="input__?.endpointcreatesvg__required:1" class="m">Endpont CreateSvg</div>
		<div data---="input__?.dependenciesjs__text:1" class="m">Dependencies JS (space separated)</div>
		<div class="ui-input-label">Code:</div>
		<div data---="codemirror__?.code__type:javascript;minheight:300;parent:auto;margin:60;tabs:true;trim:true" class="m"></div>
	</div>
</settings>
<body>
	<header>
		<i class="ICON"></i><b class="monospace" data-bind="CONFIG.title__text__empty"></b>
		<div><small><i>NAME v<span data-bind="CONFIG.version__text__empty"></span></i></small></div>
	</header>
</body>