<script total>

	exports.id = 'typerefinery_api_python_algorithm';
	exports.name = 'API Python Algorithm';
	exports.icon = 'fa fa-code';
	exports.group = '@TypeRefinery';
	exports.author = 'TypeRefinery.io';
	exports.version = '3';

	exports.config = { title: exports.name, version: exports.version, algorithm: '', algorithmrequirements: 'argparse loguru', endpoint: 'http://127.0.0.1:8000/algorithm', jyputerid: "" };
	exports.inputs = [{ id: 'config', name: 'Config' }];
	exports.outputs = [{ id: 'output', name: 'Output' }, { id: 'payload', name: 'Payload' }];

	exports.meta = { settingswidth: 1200 };

	exports.make = function(instance, config) {
		config.jyputerid = instance.id;
		var fn;
		var values = {};
		instance.message = function($) {
			// Getting endpoint from the user
			const endpointData = {
					endpoint: config.endpoint,
			}

			// Inputs to this block will be saved in values Object
			var inputData = $.data;

			if (inputData.connection && inputData.url) {
				var dbquery = "";
				if (inputData.query && inputData.query.dbquery) {
					dbquery = inputData.query.dbquery;
				}
				var payload = {
					"algorithm": {
						"source": config.algorithm,
						"requirements": config.algorithmrequirements.split(' ').join('\n'),
						"output": 'output'
					},
					"config": inputData
				};
				$.send('payload', payload);
				let options = {
					method: 'POST',
					headers: {
						'Content-Type':
						'application/json;charset=utf-8'
					},
					body: JSON.stringify(payload)
				}

				// Sending request to get Data
				let fetchRes = fetch(endpointData.endpoint,options);
				fetchRes.then(res =>res.json())
					.then(d => { $.send('output', d) })
					.catch(err => { $.send('output', err) })

					values.query = null;
			} else {
				// IMPORTANT: we must destroy the current message becase we don't need to send it next
				$.destroy();
			}
		};

		instance.close = function() {
			fn = null;
		};

		instance.configure = function() {
			if (config.title === "") {
				config.title = exports.name;
			}
			config.version = exports.version;
		};

		instance.configure();

	};
</script>
<readme>
	Run a node and edges algorithm on a TypeRefinery database.
</readme>

<settings>
	<div class="padding">
		<div data---="input__?.title__text"><b>Title</b></div>
		<div data---="input__?.endpoint__required:1" class="m">Endpont</div>
		<div data---="input__?.algorithmrequirements__text:1" class="m">Requirements (space separated)</div>
		<div class="ui-input-label">Algorithm:</div>
		<div data---="codemirror__?.algorithm__type:python;minheight:300;parent:auto;margin:60;tabs:true;trim:true" class="m"></div>
	</div>
</settings>

<style>
	.CLASS .padding { padding: 0 10px 10px; }
	.CLASS footer > div { margin: 10px; }
	.CLASS pre { font-size: 10px; margin: 0; padding: 5px; background-color: #F0F0F0; border-radius: var(--radius); }
	.CLASS button { width: 100%; height: 24px; border: 1px solid #E0E0E0; border-radius: var(--radius); color: #000; background-color: #F0F0F0; margin: 0; }
	.CLASS button:hover { background-color: #F8F8F8; }
	.CLASS button:active { background-color: #E0E0E0; }
	.CLASS .ui-objecttree { background-color: #f0f0f0; padding: 4px; }
	.CLASS .largetext { max-height: 100px; overflow-y: auto; }

	.ui-dark .CLASS button { border-color: #404040; color: #FFF; background-color: #222; }
	.ui-dark .CLASS button:hover { background-color: #303030; }
	.ui-dark .CLASS button:active { background-color: #404040; }

	.CLASS .output { text-align: right }
</style>


<body>
	<header>
		<i class="ICON"></i><b class="monospace" data-bind="CONFIG.title__text__empty"></b>
		<div><small><i>NAME v<span data-bind="CONFIG.version__text__empty"></span></i></small></div>
	</header>
	<!--div class="padding">
		<button class="exec">Edit</button>
	</div-->
</body>


<script>

	var newNotebook = {
		"name": "aaaa1.ipynb",
		"path": "aaaa1.ipynb",
		"content": {
			"cells": [
				{
					"cell_type": "code",
					"metadata": {
						"trusted": true
					},
					"outputs": [],
					"source": ""
				}
			],
			"metadata": {
				"kernelspec": {
					"display_name": "Python 3 (ipykernel)",
					"language": "python",
					"name": "python3"
				},
				"language_info": {
					"codemirror_mode": {
						"name": "ipython",
						"version": 3
					},
					"file_extension": ".py",
					"mimetype": "text/x-python",
					"name": "python",
					"nbconvert_exporter": "python",
					"pygments_lexer": "ipython3",
					"version": "3.10.0"
				}
			},
			"nbformat": 4,
			"nbformat_minor": 5
		},
		"type": "notebook"
	};

	TOUCH(function(exports, reinit) {
		if (!reinit) {
			exports.element.on('click', 'button', function() {
				var id = exports.config.jyputerid || '_blank';
				var name = `${id}.ipynb`;
				var host = "https://jupyterlab.typerefinery.localhost:8101";
				//var host = "http://localhost:8888";
				var api_url =  `${host}/api/contents/${name}`;
				var open_url =  `${host}/lab/tree/${name}`;
				var createPayload = Object.assign({}, newNotebook);
				createPayload.name = name;
				createPayload.path = name;
				createPayload.content.cells[0].source = exports.config.algorithm;
				console.log(createPayload);
				console.log(JSON.stringify(createPayload));
				$.ajax({
					url: api_url,
					type: 'PUT',
					dataType : "json",
					data: JSON.stringify(createPayload),
					contentType: "application/json",
					success: function(data) {
						console.log("success");
						//play with data
						console.log(data);
						window.open(open_url,id);
					},
					error: function (xhr, ajaxOptions, thrownError) {
						console.log("error");
						console.log(xhr.status);
						console.log(thrownError);
					},
					complete: function (xhr, textStatus) {
						console.log("complete");
						console.log(xhr.status);
						console.log(textStatus);
					},
					statusCode: {
						400: function() {
							console.log("statusCode");
							console.log("bad request");
						}
					}
				});
  				var headers1 = {'ContentType': 'application/json'};


			});
		}
	});

</script>