<script total>
	
	exports.id = 'typerefinery_api_datastore_query';
	exports.name = 'API Datastore Query';
	exports.icon = 'fa fa-code';
	exports.group = '@TypeRefinery';
	exports.author = 'TypeRefinery.io';
	exports.version = '1';

	exports.config = { title: exports.name, version: exports.version, endpoint: 'http://127.0.0.1:8000/datastore/query', queryid: '' };
	exports.inputs = [{ id: 'input', name: 'Input' }];
	exports.outputs = [{ id: 'output', name: 'Output' }];

	exports.meta = { settingswidth: 1200 };

	exports.make = function(instance, config) {
		instance.message = async function($) {
			var queryList;

			// Getting all the queries from the store
			const endpoint = config.endpoint;
			const res = await fetch(endpoint);
			const res_data = await res.json();

			// Getting query details to display the dropdown list of all queries
			queryList = res_data.map(el => ({id: el.queryid, name: `${el.label} (${el.queryid},${el.query.substr(12)})`}));

			// Find the selected query
			const selectedQuery = res_data.find(el => el.queryid === config.queryid)

			if(selectedQuery) {
				const queryDetails = { dbquery: selectedQuery.query };
				// send the query details as the output of this block
				instance.send('output', queryDetails);
			}
			// Set the queries dropdown in the UI
			instance.call = async function(data, answer) {
				answer(queryList);
			};
		};

		instance.configure = function() {
			if (config.title === "") {
				config.title = exports.name;
			}
			config.version = exports.version;
		};

		instance.configure();

	};

</script>
<readme>
	Get list of queries from datastore endpoint.
</readme>
<script>
	// datastorequery is the name of your component in lower-case
	ON('configure_datastorequery', function(data) {
		data.call(function(response) {
			console.log('on', response);
			SET('%queryidList', response);
		});
	});
</script>
<settings>
	<div class="padding">
		<div data---="input__?.title__text"><b>Title</b></div>
		<div data---="input__?.endpoint__required:1"><b>Endpoint</b></div>
		<div data---="input__?.queryid__dirsource:%queryidList;dirraw:1;placeholder:Choose a query;dirempty:No query" class="m"><b>Query</b></div>
	</div>
</settings>
<body>
	<header>
		<i class="ICON"></i><b class="monospace" data-bind="CONFIG.title__text__empty"></b>
		<div><small><i>NAME v<span data-bind="CONFIG.version__text__empty"></span></i></small></div>
	</header>
</body>
