<script total>
    exports.name = 'WebCola Viz';
    exports.group = 'TypeRefinery';
    exports.version = '1';
    exports.icon = 'fa fa-code';
    exports.author = 'TypeRefinery';
    exports.config = { code: '' };
    exports.inputs = [{ id: 'graph_data', name: 'DATA' },{ id: 'theme', name: 'Theme' }];
    exports.outputs = [{ id: 'output', name: 'Output' }];
    exports.meta = { settingswidth: 1200 };

    exports.make = function(instance, config) {
        var fn;
        var values = {};

	instance.message = function($) {
		// Getting endpoint from the user
        	const endpointData = { endpoint: config.endpoint }

		// Inputs to this block will be saved in values Object
            	values[$.input] = $.data

		if (values.graph_data && values.theme) {
			var project;
			var input_data = {
				theme: values.theme,
				graph_data: values.graph_data
			};

			// Replacing GRAPH_DATA variable with actual DATA
			const codeWithData = config.code.replace('GRAPH_DATA', JSON.stringify(input_data.graph_data))
			// Replacing THEME variable with actual THEME
			const code = codeWithData.replace('THEME', JSON.stringify(input_data.theme))
			// fetch projectid
			fetch("http://127.0.0.1:8000/datastore/project").then(value => value.json()).then(projects => {
				// Getting current project
				project = projects.find(el => el.flowid == instance.main.id)

				// svg payload
				const payload = {
					"code": code,
					"dependecies": ["https://d3js.org/d3.v4.js", "https://cdn.jsdelivr.net/npm/webcola@3.4.0/WebCola/cola.js"],
					"returnoutput": "script",
					"label": instance.id + project.projectid
				}

				let options = {
					method: 'POST',
					headers: {
						'Content-Type':
							'application/json;charset=utf-8'
					},
            				body: JSON.stringify(payload)
       				 }

				// Sending request to generate SVG
				fetch(endpointData.endpoint,options).then(value => value.json()).then((output) => {
				const res = {
					path: output["output.url"],
					stepId: instance.id,
					stepName: instance.module.name,
					flowId: instance.main.id,
					projectId: project.projectid
				}
				// Sending the response
				$.send('output', res)
			}).catch((err) => {
				// Sending the error
				$.send('output', err)
			});
			}).catch(err => console.log(err));
			values.theme = null
		}
        };
        instance.configure = function() {
            instance.outputs = [];
            for (let i = 1; i <= config.outputs; i++)
                instance.outputs.push({ id: 'output' + (i === 1 ? '' : i), name: 'Output #' + i });
            instance.save();

            try {
                if (config.code) {
                    instance.status(1);
                    fn = new Function('value', 'instance', '$', 'message', 'require', 'send', 'repo', 'vars', 'data', config.code);
                } else {
                    instance.status(0);
                    fn = null;
                }
            } catch (e) {
                fn = null;
                instance.throw('Code: ' + e.message);
            }
        };

        instance.close = function() {
            fn = null;
        };

        instance.configure();
    };
</script>

<readme>
    This component executes a custom JavaScript code as it is.


    To send data to the default output use `send(somedata);`
    To send data to specific output when number of outputs > 1 use `$.send('outputX', somedata)` where `X` is output index, see example bellow:
    - first output--> `send(somedata)` or `$.send('output', somedata)`
    - second output --> `$.send('output2', somedata)`
    - ...
    - 5th output --> `$.send('output5', somedata)`
    - etc.
</readme>

<settings>
    <div class="padding">
        <div data---="input__?.endpoint__required:1" class="m">Endpont</div>
        <div class="ui-input-label">Code:</div>
        <div data---="codemirror__?.code__type:javascript;minheight:300;parent:auto;margin:60;tabs:true;trim:true" class="m"></div>
    </div>
</settings>

<body>
    <header>
        <i class="ICON"></i>NAME
    </header>
</body>
